<!-- template/base.html should have fundamental 5 structure-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <!--for site-wide header, nav etc-->
    </header>

    <main>
        {% block content %}
        <!--use for templates that extend to base.html-->
        {% endblock %}
    </main>

    <footer>
        <!--site-wide footer and info etc.-->
    </footer>

</body>
</html>
